* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0%;
}
body{
    /* background: linear-gradient(90deg, black, blue); */
    margin: 0.5px;
    padding: 0.1%;
    text-align: center;
}
.icons{
    height: 50px;
}
